/*
 * having fun with styles in my own personal space
 */
h1, h2, th {
	text-decoration: underline;
}
h1, h2, tr, th, td {
	text-align: center;
	margin: 0.2em;
	padding: 0.2em;
}
p, blockquote {
	text-align: left;
	margin-left: 50px; width: 75%;
}
a {
	padding: 2px;
	text-decoration: none;
}
a:hover {
	font-family: Times, serif;
	padding: 2px;
}
table.site_group {
	margin-bottom: 12px;
	padding: 6px;
}
th, td {
	padding: 6px;
	text-align: center;
	white-space: nowrap;
}
.obsolete {
	text-decoration: line-through;
}
/* styles for a laptop-sized screen/window: */
@media only screen and (min-width: 800px) {
	body {
		color: #ffffff;
		background-color: black;
		background: url(background-dark.jpg);
	}
	h1, h2, p, th, td, blockquote {
		color: goldenrod;
	}
	h1 {
		font: bold 2.0em Times, serif;
	}
	h2, th {
		font: bold 1.2em Times, serif;
	}
	p, td, blockquote {
		font: 0.8em Arial, Helvetica, sans-serif;
	}
	hr {
		color: lightskyblue;
	}
	table.site_group, th, td {
		border: goldenrod ridge 7px ;
	}
	a, a:hover {
		color: lightskyblue;
	}
	a:hover {
		border: lightskyblue inset 4px;
	}
}
/* styles for a phone-sized screen/window: */
@media only screen and (max-width: 800px) {
	body {
		color: #000000;
		background-color: white;
		background: url(background-light.jpg);
	}
	h1, h2, p, th, td, blockquote {
		color: brown;
	}
	h1 {
		font: bold 3.0em Times, serif;
	}
	h2, th {
		font: bold 2.5em Times, serif;
	}
	p, td, blockquote {
		font: 2.0em Arial, Helvetica, sans-serif;
	}
	hr {
		color: darkblue;
	}
	table.site_group, th, td {
		border: brown ridge 7px ;
	}
	a, a:hover {
		color: darkblue;
	}
	a:hover {
		border: darkblue inset 4px;
	}
}
